<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="row">
        <div class="input-field">
            <label for="name">Name</label>
            <input type="text"  class="form-control" id="name"
                   required
                   [(ngModel)]="model.name" name="name">

        </div>
        <div class="input-field">
            <label for="status">status</label>
            <input type="number"  class="form-control" id="status"
                   required
                   [(ngModel)]="model.status" name="status">
        </div>
        <button type="submit">Submit</button>
        <!--<div class="input-field">-->
            <!--<select class="browser-default">-->
                <!--<option value="" disabled selected>Select Products</option>-->
                <!--<option value="1">Option 1</option>-->
                <!--<option value="2">Option 2</option>-->
                <!--<option value="3">Option 3</option>-->
            <!--</select>-->
        <!--</div>-->
        <!--<div class="file-field input-field">-->
            <!--<div class="btn">-->
                <!--<span>Image</span>-->
                <!--<input type="file">-->
            <!--</div>-->
            <!--<div class="file-path-wrapper">-->
                <!--<input class="file-path validate" type="text">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="input-field">-->
            <!--<textarea id="textarea1" class="materialize-textarea"></textarea>-->
            <!--<label for="textarea1">Textarea</label>-->
        <!--</div>-->
    </div>
</form>