<div class="holder row">
    <div class="sidebar left col l3 m4 s12">
        <ul class="sidelist">
            <li>
                <a href="#"><img src="../assets/images/dummy-img1.jpg" width="289" height="192" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="../assets/images/dummy-img2.png" width="289" height="192" alt=""></a>
            </li>
            <li>
                <div class="text">
                    <h3>Samsung Launches S8</h3>
                    <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet
                        <a href="#">Read More</a></p>
                </div>
            </li>
            <li>
                <div class="text">
                    <h3>Samsung Launches S8</h3>
                    <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet
                        <a href="#">Read More</a></p>
                </div>
            </li>
        </ul>
    </div>
    <div class="content right col l9 m8 s12">
        <h2>Featured Products</h2>
        <ul class="products-list">
            <li>
                <div class="img-holder">
                    <img src="../assets/images/dummy-img3.jpg" width="270" height="180" alt="">
                </div>
                <div class="caption">
                    <span class="left">
                        Product Name
                    </span>
                    <span class="right">
                        Price 000/-
                    </span>
                </div>
            </li>
            <li>
                <img src="../assets/images/dummy-img4.jpg" width="270" height="180" alt="">
                <div class="caption">
                    <span class="left">
                        Product Name
                    </span>
                    <span class="right">
                        Price 000/-
                    </span>
                </div>
            </li>
            <li>
                <img src="../assets/images/dummy-img5.jpg" width="270" height="180" alt="">
                <div class="caption">
                    <span class="left">
                        Product Name
                    </span>
                    <span class="right">
                        Price 000/-
                    </span>
                </div>
            </li>
            <li>
                <img src="../assets/images/dummy-img6.jpg" width="270" height="180" alt="">
                <div class="caption">
                    <span class="left">
                        Product Name
                    </span>
                    <span class="right">
                        Price 000/-
                    </span>
                </div>
            </li>
            <li>
                <img src="../assets/images/dummy-img7.jpg" width="270" height="180" alt="">
                <div class="caption">
                    <span class="left">
                        Product Name
                    </span>
                    <span class="right">
                        Price 000/-
                    </span>
                </div>
            </li>
            <li>
                <img src="../assets/images/dummy-img8.png" width="270" height="180" alt="">
                <div class="caption">
                    <span class="left">
                        Product Name
                    </span>
                    <span class="right">
                        Price 000/-
                    </span>
                </div>
            </li>
            <li>
                <div class="img-holder">
                    <img src="../assets/images/dummy-img3.jpg" width="270" height="180" alt="">
                </div>
                <div class="caption">
                    <span class="left">
                        Product Name
                    </span>
                    <span class="right">
                        Price 000/-
                    </span>
                </div>
            </li>
            <li>
                <img src="../assets/images/dummy-img4.jpg" width="270" height="180" alt="">
                <div class="caption">
                    <span class="left">
                        Product Name
                    </span>
                    <span class="right">
                        Price 000/-
                    </span>
                </div>
            </li>
            <li>
                <img src="../assets/images/dummy-img5.jpg" width="270" height="180" alt="">
                <div class="caption">
                    <span class="left">
                        Product Name
                    </span>
                    <span class="right">
                        Price 000/-
                    </span>
                </div>
            </li>
            <li>
                <img src="../assets/images/dummy-img6.jpg" width="270" height="180" alt="">
                <div class="caption">
                    <span class="left">
                        Product Name
                    </span>
                    <span class="right">
                        Price 000/-
                    </span>
                </div>
            </li>
            <li>
                <img src="../assets/images/dummy-img7.jpg" width="270" height="180" alt="">
                <div class="caption">
                    <span class="left">
                        Product Name
                    </span>
                    <span class="right">
                        Price 000/-
                    </span>
                </div>
            </li>
            <li>
                <img src="../assets/images/dummy-img8.png" width="270" height="180" alt="">
                <div class="caption">
                    <span class="left">
                        Product Name
                    </span>
                    <span class="right">
                        Price 000/-
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>