<div class="footer-holder">
    <div class="row">
        <ul class="col left l3 m6 s12">
            <li><a href="#">Link...</a></li>
            <li><a href="#">Link...</a></li>
            <li><a href="#">Link...</a></li>
            <li><a href="#">Link...</a></li>
            <li><a href="#">Link...</a></li>
            <li><a href="#">Link...</a></li>
        </ul>
        <ul class="col left l3 m6 s12">
            <li><a href="#">Link...</a></li>
            <li><a href="#">Link...</a></li>
            <li><a href="#">Link...</a></li>
            <li><a href="#">Link...</a></li>
            <li><a href="#">Link...</a></li>
            <li><a href="#">Link...</a></li>
        </ul>
        <ul class="col left l3 m6 s12">
            <li><a href="#">Link...</a></li>
            <li><a href="#">Link...</a></li>
            <li><a href="#">Link...</a></li>
            <li><a href="#">Link...</a></li>
            <li><a href="#">Link...</a></li>
            <li><a href="#">Link...</a></li>
        </ul>
        <ul class="col left l3 m6 s12">
            <li><a href="#">Link...</a></li>
            <li><a href="#">Link...</a></li>
            <li><a href="#">Link...</a></li>
            <li><a href="#">Link...</a></li>
            <li><a href="#">Link...</a></li>
            <li><a href="#">Link...</a></li>
        </ul>
    </div>
</div>
<div class="bottom-bar">
    Copyright &copy; 2008 Design Shack | All Rights Reserved
</div>