<div class="top-holder row">
    <div class="logo left col l4 m4 s12">
        <a href="#"><img src="../assets/images/logo.png" width="150" height="140" alt="e-commerce"></a>
    </div>
    <div class="right-info right col l8 m8 s12">
        <ul class="contact-list">
            <li>
                <a href="#"><i class="fa fa-facebook-official fa-2x"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-phone fa-2x"></i></a>
            </li>
        </ul>
        <form action="#" class="search-form">
            <input type="search" placeholder="Search .........">
        </form>
    </div>
</div>
